.app{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SearchArea{
  margin-top: 5%;
}
.SearchArea input{
  font-size: 18px;
  padding: 12px 25px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid grey;
  outline: none;
  border-right: none;
}
.SearchArea button{
  padding: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid grey;
  outline: none;
  background-color: rgb(31, 31, 31);
  border-left: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}